.container{
    padding: 50px 10% 50px 10%;
    text-align: justify;   
    width:100%;
    }
h3{
    font-family: Papyrus;
    text-align: center;
}
.image-container{
    text-align: center;
}
.image{
    width:100px;
    border-radius: 5em;
}