<section id="aboutme">
<div class="container" name='aboutme' data-0="background-color:rgb(1,27,59);" data-top="background-color:(0,0,0);"data-anchor-target="#aboutme">

  <h3 >About Me</h3>
  <div class="col-sm-4 padding-top-20 image-container" >
    <img class="image" (click)="seturl('mvp')" src="assets/salin.jpg" alt="MVP Studio Logo">
  </div>
    <div class="col-sm-8"><p>I am a Web Developer, currently working for MVP Studio Auckland. I am looking for a challenging position where I can contribute to the growth of the organization in every way possible. I want to set higher goals while meeting and exceeding the current ones. </p>
    </div>
</div>
</section>  
