<div class="heading" id="heading"(scroll)="onScroll($event)">
  <h2>
    <b>--What I've done so far--</b>
  </h2>
</div>

<br>

<div class="container-fluid section" data-500="opacity:0;" data-600="opacity:1;"data-900="opacity:1;"data-1000="opacity:0;" data-target="#mvp">
  <div class="col-sm-4 padding-top-20">
    <img class="logo link" (click)="seturl('mvp')" src="assets/mvp.png" alt="MVP Studio Logo">
  </div>
  <div id="mvp" class="col-sm-8">
    <div class="link" (click)="seturl('mvp')">
      <h3>MVP Studio</h3>
      <h4>
        <b>Auckland, New Zealand(April 2017 - Present)</b>
      </h4> 
    </div>
    <div>
      <p>MVP Studio is a Software development start-up company based in Auckland which was found in April 2016. MVP Studio is a company which welcomes new ideas from start-ups and upcoming developers and bring the ideas into life with least amount of expenditure. I work remotely with team Cobra as part of the project Alex Swift Emergency Contacts leaded by Craig Rabbit. </p>
    </div>
  </div>
</div>

<div class="container-fluid section"data-800="opacity:0;" data-900="opacity:1;"data-1200="opacity:1;"data-1300="opacity:0;" data-target="#ic">
  <div class="col-sm-4 padding-top-20">
    <img class="logo link" (click)="seturl('ic')" src="assets/IC.png" alt="MMK Logo">
  </div>
  <div class="col-sm-8" id="ic">
    <div class="link" (click)="seturl('ic')">
      <h3>Industry Connect</h3>
      <h4>
        <b>Auckland, New Zealand(March 2017)</b>
      </h4>
    </div>
    <div>
      <p>Industry connect is a New Zealand based  </p>
    </div>
  </div>

</div>

<div class="container-fluid section" data-1100="opacity:0;" data-1200="opacity:1;"data-1500="opacity:1;"data-1600="opacity:0;" data-target="#morgan">
  <div class="col-sm-4 padding-top-20">
    <img class="logo link" (click)="seturl('mmk')" src="assets/morgan.png" alt="MMK Logo">
  </div>
  <div id="morgan" class="col-sm-8">
    <div class="link" (click)="seturl('mmk')">
      <h3>Morgan McKinley</h3>
      <h4>
        <b>Pondicherry, India(March 2015 - January 2016)</b>
      </h4>
    </div>
    <div>
      <p>Morgan McKinley is an internationally active professional services employment agency with headquarters in Cork, Ireland. This is a company which employs about 800 staffs over 19 locations in 10 countries. A support team is working in India, which does the maintenance of their websites and provides marketing support. I was a part of the team developing and maintaining Drupal websites.</p>
    </div>
  </div>
</div>

<div class="container-fluid section"data-1400="opacity:0;" data-1500="opacity:1;"data-1800="opacity:1;" data-1900="opacity:0;"data-target="#mes">
  <div class="col-sm-4 padding-top-20">
    <img class="logo link" (click)="seturl('mes')" src="assets/mes1.jpg" alt="MMK Logo">
  </div>
  <div class="col-sm-8" id="mes">
    <div class="link">
      <h3 (click)="seturl('mes')">MES College of Engineering</h3>
      <h4>
        <b>Kuttippuram, Kerala, India(March 2017 - Present)</b>
      </h4>
    </div>
    <div>
      <p>Morgan McKinley is an internationally active professional services employment agency with headquarters in Cork, Ireland.
        This is a company which employs about 800 staffs over 19 locations in 10 countries. A support team is working in
        India, which does the maintenance of their websites and provides marketing support. </p>
    </div>
  </div>
</div>

<div class="container-fluid section"data-1700="opacity:0;" data-1800="opacity:1;"data-2100="opacity:1;"data-2200="opacity:0;" data-target="#mmhss">
  <div class="col-sm-4 padding-top-20">
    <img class="logo" src="assets/mubarak.jpg" alt="MMK Logo">
  </div>
  <div class="col-sm-8" id="mmhss">
    <div>
      <h3>MM Higher Secondary School </h3>
      <h4>
        <b>Thalassery, Kerala, India(March 2017 - Present)</b>
      </h4>
    </div>
    <div>
      <p>Morgan McKinley is an internationally active professional services employment agency with headquarters in Cork, Ireland.
        This is a company which employs about 800 staffs over 19 locations in 10 countries. A support team is working in
        India, which does the maintenance of their websites and provides marketing support. </p>
    </div>
  </div>
</div>

<div class="container-fluid section"data-2000="opacity:0;" data-2100="opacity:1;"data-2400="opacity:1;"data-2500="opacity:0;" data-target="#shghs">
  <div class="col-sm-4 padding-top-20">
    <img class="logo link" (click)="seturl('shghs')" src="assets/school.jpg" alt="MMK Logo">
  </div>
  <div class="col-sm-8" id="shghs">
    <div class="link" (click)="seturl('shghs')">
      <h3>Sacred Heart GHS</h3>
      <h4>
        <b>Thalassery, Kerala, India(March 2017 - Present)</b>
      </h4>
    </div>
    <div>
      <p>Morgan McKinley is an internationally active professional services employment agency with headquarters in Cork, Ireland.
        This is a company which employs about 800 staffs over 19 locations in 10 countries. A support team is working in
        India, which does the maintenance of their websites and provides marketing support. </p>
    </div>
  </div>
</div>