.summary{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black;
    font-size: 1.3em;
    height: 500px;
    padding: 5%;
    text-align: center;
}


.logo{
    border-radius:25%; 
    padding: 10px;
    cursor: pointer;
    width:9%;
    height:25%;
}
