<div class="container summary">
  <h3>I'm looking for new exciting opportunities in Software development.</h3>
  <h3> If you are looking for a right skill to join your company</h3>
      <br>
      <h3>
        <b>Lets Get In Touch</b>
      </h3>
      <img class="logo" (click) = "socialurl('in')" alt="In Logo" src="assets/in.png">
      <img class="logo" (click) = "socialurl('gmail')" alt="tw logo" src="assets/gmail.jpg">
      <img class="logo" (click) = "socialurl('fb')" alt="fb logo" src="assets/fb2.png">
</div>