.navigbar{
padding: 0px;
margin: 0px;
width: 100%;
overflow: hidden;
background-color:rgba(26, 25, 25, 0.952); 
opacity:1;
}
.navigation{
  height:100%;
  width:75%;
  margin-left:auto;
  margin-right:auto;
}
.navig-left{
  float:left;
  margin: 0;
  padding:10px;
}
.navig-left li{
  list-style:none;
}
.navig{
  list-style: none;
  float: right; 
   margin: 0px;
   padding: 0px;
  
}
.navig li{
  width: 50px;
  display: inline-block;
  padding:5px; 
  
}
@media screen and (max-width: 500px){

.navig-left{
  margin-top: 3px;
  padding-bottom:7px;
}
.navig-left span{
  display: none;
}
}
