<nav class="navigbar" >
    <div class="navigation" >
    <ul class="navig .nav-font">
      <li class="link" ><a href="#home"cdata-0="text-decoration:underline;" data-200="text-decoration: none;" href="#home">Home</a></li>
      <li class="link"><a href="#aboutme" data-0="text-decoration:none;" data-200="text-decoration: underline;"data-700="text-decoration: none;">About Me</a></li>
      <li class="link"><a href="#experience"data-0="text-decoration:none;"  data-700="text-decoration: underline;"data-2400="text-decoration: none;">Experience</a></li>
      <li class="link"><a href="#connect" data-0="text-decoration:none;" data-2400="text-decoration: underline;" data-2550="text-decoration: none;">Connect</a></li>
      <!-- <li><a >About Me</a></li> -->
      <!-- <li><a routerLink="/resume">Resume</a></li> -->
    </ul>
  </div>
  </nav>
  <!-- <app-experience id="experience"></app-experience> -->
  <!-- <div id="progress-bar" 
        data-0="opacity:0;" 
        data-200="opacity:1; width:0%; background-color:rgb(173, 220, 226);"
        data-999="width:19.99%; background-color:rgb(173, 220, 226);" 
        data-1000="width:20%; background-color:rgb(63, 108, 69);"
        data-1999="width:39.99%; background-color:rgb(63, 108, 69);"
        data-2000="width:40%; background-color:rgb(51, 122, 173);" 
        data-2999="width:59.99%; background-color:rgb(51, 122, 173);" 
        data-3000="width:60%; background-color:rgb(136, 110, 105);" 
        data-3999="width:79.99%; background-color:rgb(136, 110, 105);" 
        data-4000="width:80%; background-color:rgb(0, 99, 99);" 
        data-5000="width:100%; background-color:rgb(0, 99, 99);" 
        data-end="width:100%;">
  </div> -->

<!--
  <div id="progress-items-container" data-100="opacity:0;" data-200="opacity:1;">
    <div class="progress-item">About me</div>
    <div class="progress-item">Skills</div>
    <div class="progress-item">Experience</div>
    <div class="progress-item">Education</div>
    <div class="progress-item">Connect</div>
  </div> -->