
<div class="container" >
    <div class="resume">
    <div>
    <div class="resumeheader">
      <div><h2>SALIN ROSNA &nbsp;
        <a href="assets/files/SalinRosna - CV.pdf">
        <span class="glyphicon glyphicon-download-alt"></span>
      </a>
      </h2></div>
      <div class="contact">M: 0210374260 E: salinrosnatv@gmail.com A: 14A, Perth Street, Ngaio, Wellington | LinkedIn | GitHub</div>
    </div>
    <hr>
    <div class="resumesummary-container">
    <p class="resumesummary">I am passionate Web Developer looking for a challenging position in IT industry. I want to set higher goals while meeting and exceeding the current one. I have good knowledge in Front-end development and keen to learn more and more daily. If my profile seams to satisfy your requirements please contact me on the above email or phone.</p>
    
    
    </div>
    <br>
    <h3>TECHNICAL EXPERTISE</h3>
    <hr>
    <div class="technicalexp">
    <ul>
      <li>.NET Framework: C#, ASP.NET, LINQ, Entity Framework. </li>
      <li>Front-end Technologies: HTML5, CSS/Less, JavaScript, AJAX, jQuery, AngularJS, Bootstrap. </li>
      <li>Database: Microsoft SQL Server. </li>
      <li>Experience working with Visual Studio 2015, ASP.NET MVC.</li>
      <li>Experienced with Git version control. </li>
      <li>Experience working with Drupal CMS. </li>
      <li>Experience working in an Agile environment. </li>
    </ul>
    </div>
    <br>
    <h3>PROFESSIONAL EXPERIENCE</h3>
    <hr>
    <div>
    <h3>MVP Studio</h3>
    <p>(Auckland, New Zealand) - Software Developer</p>
    <br>
    <h3>Alex Swift Emergency Contacts (Cobra)</h3>
    
    <p>The Cobra or Alex Swift Emergency Contact Service is a software that provides the ability to contact your emergency contacts when in need. The system can be linked to a call centre where by if you are lost over a period a call can put forward to a list of your immediate contacts. The system is built using .NET Framework – C#, ASP.NET MVC, HTML, CSS, AngularJS, Bootstrap.</p>
    <br>
    <div>
      <ul>
        <li>Involve in Analysis, Design and Developing the application, based on .NET framework. </li>
        <li>Develop User Interface in MVC using HTML5, CSS3, Bootstrap, AngularJS.</li>
        <li>Developed several core features for the application using C# and AngularJS. For example: <ul><li>A screen that shows the profile page of the user.</li></ul></li>
        
        <li>Manual testing and Bug fixings. Have fixed several high priority bugs using AngularJS. </li>
        <li>Demonstrated expertise in Visual Studio 2015, Microsoft SQL Server.  </li>
        <li>Experience working with Team Foundation Server(TFS). </li>
        <li>Using <b>Agile methodology.</b>  </li>
      </ul>
    </div>
    <br>
    <h3>Morgan McKinley</h3>
    <p>(Pondicherry, India) - Online Support Engineer</p>
    <br>
    <div>
      <ul>
        <li>Perform daily maintenance and enhancements on main Drupal website </li>
        <li>Content addition as per business requirements.</li>
        <li>Testing and validating work produced as part of the development process.</li>
        
        <li>Tested front-end code in multiple browsers to ensure cross-browser compatibility.</li>
        <li>Created HTML email templates and newsletters for e-mail marketing campaigns. </li>
        <li>Creating reports for marketing and basic support</li>
        <li>Piloted and tested weekly/monthly processes as part of business marketing.</li>
      </ul>
    </div>
    <br>
    <h3>EDUCATION</h3>
    <hr>
    <p><b>Bachelor of Technology</b>(Information Technology)</p>
    <p>University of Calicut</p>
    <ul><li>Completed Bachelor's degree from a well-known University in India with Grade point 6.7/10</li></ul>
    <div>
    <br>
    <h3>REFERENCE</h3><hr><p>Available on Request</p>
    <br>
    <br>
    </div>
    </div>
    
    </div>
    </div>
    </div>
