.container{
	align-items: center;
	width: 100%;
}
.resume{
	width:80%;
	margin:auto;
	font-family: Perpetua;
	font-size: 23px;text-align: left;
}
.resumeheader{
	text-align:center;
}
.contact{
	font-size: 20px;
}
.resumesummary-container{
	width: 100%;
    margin:auto;
    text-align: justify;
}
.resumesummary{
	font-family: Perpetua;
	font-size: 25px;
}
.technicalexp{
	
}