<!-- <div class="head" id="home">
  <div class="banner" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -150px;">

    

  </div>
  <div class="col-sm-4 padding-top-20 image-container">
    <img class="image" src="assets/salin1.jpg" alt="SalinRosnaImg">
  </div>
</div> -->

  <div class="banner" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -150px;">    
  </div>
  <div class="header">
    <div class="header-border-top"></div>
      <span class="font-white font-weight-300 letter-spacing-7">SALIN ROSNA</span>
    <div class="header-border-bottom"></div>
      
  </div>
  <div class="col-sm-4 padding-top-20 image-container">
      <img class="image" src="assets/salin1.jpg" alt="SalinRosnaImg">
    </div>
<div class="main-nav-container">
    <nav >
      <ul>
        <li>
          <a class="font font-size-13 letter-spacing" href="#aboutme">
            <span class="tl">ABOUT ME</span>
          </a>
        </li>
        <li>
          <span>
            <a class="link font font-size-13 letter-spacing" href="#work">
              <span class="tl">EXPERIENCE</span>
            </a>
          </span>
        </li>
        <span class="li-none">
          <li></li>
        </span>
        <li>
          <span>
            <a class="link font font-size-13 letter-spacing" href="#portfolio">
              <span class="tl">PORTFOLIO</span>
            </a>
          </span>
        </li>
        <li class="link">
          <span>
            <a class="font font-size-13 letter-spacing" href="#connect">
              <span class="tl">CONNECT</span>
            </a>
          </span>
        </li>
        <div class="resposive-nav">
          <a href="#home" class="resp-name font letter-spacing">SALIN ROSNA </a>
          <a class="link resp-list font letter-spacing">
            <i class="fa fa-bars">            
            </i>
          </a>
        </div>
      </ul>
    </nav>

</div>
<div class="aboutme" id="aboutme">
  <div class="container" id="aboutme">
    <div class="header-container">
      <h1 class="font font-weight letter-spacing">WHO AM I</h1>
    </div>
    <div class="about-content">
      <div class="col-sm-7">
        <p class="font-color-grey">Hey, I'm Salin.	I am a Web developer, really passionate in coding. Experienced with all stages of development cycle for dynamic web projects. My expertise include .Net Framework, C#, ASP.NET, MSSQL, AngularJS, Angular2, HTML5 CSS3, Bootstrap and Drupal.</p>
        <p class="font-color-grey">Apart from technology I love travelling and exploring new places. I am lucky to be in New Zealand which is one of the best places in the world where there is a lot to explore. Also, I love spending time with my family and friends, playing games and hanging out. If I have time left I would take it to sketch something on a canvas.</p>
      </div>
      <div class="col-sm-5">
        <ul>
          <li>
            <strong>Brithday:</strong>
            <span class="font-color-grey"> 07/06/1991 </span>
          </li>
          <li>
            <strong>Phone:</strong>
            <span class="font-color-grey">+64 210374260</span>
          </li>
          <li>
            <strong>E-mail:</strong>
            <span class="font-color-grey"> salinrosnatv@gmail.com</span>
          </li>
          <li>
            <strong>Address:</strong>
            <span class="font-color-grey"> 14A, Perth Street, Ngaio, Wellington</span>
          </li>
        </ul>
        <!-- <div class="footer-social-container"> -->
            <ul class="footer-social">
              <li (click)="socialurl('in')" class="link border font-size-15 align-center">
                <a class="font-golden" href="#aboutme">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li (click)="socialurl('gmail')" class="link border font-size-15 align-center">
                <a class="font-golden" href="#experience">
                  <i class="fa fa-inbox"></i>
                </a>
              </li>
              <li (click)="socialurl('gh')" class="link border font-size-15 align-center">
                <a class="font-golden" href="#experience">
                  <i class="fa fa-github"></i>
                </a>
              </li>
              <li (click)="socialurl('fb')" class="link border font-size-15 align-center">
                <a class="font-golden">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
            </ul>
          <!-- </div> -->
      </div>
    </div>
  </div>
</div>
<!-- <div>
  <div class="container">
    <div class="header-container">
      <h1 class="font font-weight letter-spacing">MY SKILLS</h1>
    </div>

  </div>
</div> -->

<div class="cv border-bottom" data-bottom-top="background-position: 50% 100%;" data-top-bottom="background-position: 50% 0%;">
  <div class="cv-container margin-top-100">
    <a href="assets/files/SalinRosna - CV.pdf" class="border margin-bottom-20 font-golden font-size-15 letter-spacing">
      <i class="glyphicon glyphicon-download-alt" style="padding:10px;font-size:15px; "></i> DOWNLOAD CV</a>
    <!-- <div class="margin-top-20 font-golden font-size-10 letter-spacing">424 KB | SalinRosna - CV.pdf</div> -->
  </div>
</div>

<div class="container" id="work">
  <div class="header-container">
    <h1 class="font font-weight letter-spacing">WORK AND EDUCATION</h1>
  </div>
  <div class="margin-top-100">
    <div class="col-sm-6 exp-wrap-container">
      <div class="exp-wrap">
        <div class="margin-padding-0  exp-li">
          <div class="margin-30 padding-30 border-left">
            <h5>SOFTWARE DEVELOPER</h5>
            <p class="font-size-10 background-golden">APR 2017 - PRESENT</p>
            <div class="datetime">
              <div class="icon">
                <i class="fa fa-briefcase"></i>
              </div>
            </div>
            <p class="font-color-grey">MVP Studio is a Software development start-up company based in Auckland which was found in April 2016. MVP Studio
              is a company which welcomes new ideas from start-ups and upcoming developers and bring the ideas into life
              with least amount of expenditure. I work remotely with team Cobra as part of the project Alex Swift Emergency
              Contacts leaded by Craig Rabbit. </p>
          </div>
        </div>
        <div class="margin-padding-0  exp-li">
          <div class="margin-30 padding-30 border-left">
            <h5>SOFTWARE DEVELOPER JOB READY PROGRAMME</h5>
            <p class="font-size-10 background-golden">MAR 2017 - APR 2017</p>
            <div class="datetime">
              <div class="icon">
                <i class="fa fa-graduation-cap"></i>
              </div>
            </div>
            <p class="font-color-grey">Industry connect is a New Zealand based company which offers a Job Ready programme for young developers who are
              interested to start and develop their career in New Zealand IT market. I was lucky enough to be a part of the
              Software Development job ready programme which involved a 6 weeks training, coding bootcamps continued by a
              full time internship to work on live projects which uses latest technologies. </p>
          </div>
        </div>

      </div>
    </div>
    <div class="col-sm-6 exp-wrap-container">
      <div class="exp-wrap">
        <div class="margin-padding-0  exp-li">
          <div class="margin-30 padding-30 padding-30 border-left">
            <h5>ONLINE SUPPORT ENGINEER</h5>
            <p class="font-size-10 background-golden">MAR 2015 -FEB 2016</p>
            <div class="datetime">
              <div class="icon">
                <i class="fa fa-briefcase"></i>
              </div>
            </div>
            <p class="font-color-grey">Morgan McKinley is an internationally active professional services employment agency with headquarters in Cork,
              Ireland. This is a company which employs about 800 staffs over 19 locations in 10 countries. A support team
              is working in India, which does the maintenance of their websites and provides marketing support. I was a part
              of the team developing and maintaining Drupal websites.</p>
          </div>
        </div>
        <div class="margin-padding-0  exp-li">
          <div class="margin-30 padding-30 border-left">
            <h5>BACHELOR OF TECHNOLOGY
              <i class="font-size-13">(Information Technology)</i>
            </h5>
            <p class="font-size-10 background-golden">AUG 2009 - APR 2013</p>
            <div class="datetime">
              <div class="icon">
                <i class="fa fa-graduation-cap"></i>
              </div>
            </div>
            <p class="font-color-grey">MES College of Engineering established in 1994, is one of the largest and the first self financing engineering
              college in the state of Kerala, India. The college, located along the banks of the Bharathapuzha River near
              Kuttippuram town in the Malappuram district is affiliated to the University of Calicut. I am gratefull for
              these four years away from home completing my Bachelor of Engineering in Information technology.</p>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
<div>
  <div class="container" id="portfolio">
    <div class="header-container">
      <h1 class="font font-weight letter-spacing">PORTFOLIO</h1>
    </div>
    <div class="margin-top-100">
      <div class="portfolio-image-container padding-10">
        <img class="portfolio-image" src="assets/cobra1.jpg" alt="Alex Swift emergency contacts">
        <div class="portfolio_description padding-10"><h4 class=" letter-spacing padding-10">ALEX SWIFT EMERGENCY CONTACT</h4><p> Cobra or Alex Swift Emergency Contact Service is a software that provides the ability to contact your emergency contacts when in need. The system keeps track of your location where by if you are lost over a period a message can be put forward to a list of your immediate contacts. The system is built using .NET Framework – C#, ASP.NET MVC, HTML, CSS, AngularJS, Bootstrap.</p></div>
      </div>
      <div class="portfolio-image-container padding-10">
        <img class="portfolio-image" src="assets/morgan-mckinley.jpg" alt="Alex Swift emergency contacts">
        <div class="portfolio_description padding-10"><h4 class=" letter-spacing padding-10">MAINTANANCE AND SUPPORT</h4><p>Morgan McKinley is an internationally active professional services employment agency with headquarters in Cork, Ireland. This is a company which employs about 800 staffs over 19 locations in 10 countries. A support team is working in India, which does the maintenance of their websites and provides marketing support.</p></div>
      </div>
      <div class="portfolio-image-container padding-10">
        <img class="portfolio-image" src="assets/myweb.JPG" alt="Alex Swift emergency contacts">
        <div class="portfolio_description padding-10"><h4 class=" letter-spacing padding-10">MY PERSONAL WEBSITE</h4><p>This website is Developed from Scratch using HTML, CSS and Angular 4, Bootstrap4 and skrollr. It is still on upgrading process, to use a new stack of web technologies.</p></div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="container" id="connect">
    <div class="header-container">
      <h1 class="font font-weight letter-spacing">CONTACT</h1>
    </div>
    <div class="margin-top-100 col-sm-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2999.5147583158814!2d174.77179691494018!3d-41.2541266792766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d38ae1d6875622b%3A0xd0edfc9693f3e15c!2s14+Perth+St%2C+Ngaio%2C+Wellington+6035!5e0!3m2!1sen!2snz!4v1519012270184"
        frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="margin-top-100 col-sm-6 ">
            <ul>
              <li>
                <strong>Phone:</strong>
                <span class="font-color-grey">+64 210374260</span>
              </li>
              <li>
                <strong>E-mail:</strong>
                <span class="font-color-grey link" style="color:rgb(140, 177, 247)" (click)="socialurl('gmail')"> salinrosnatv@gmail.com</span>
              </li>
              <li>
                <strong>Address:</strong>
                <span class="font-color-grey"> 14A, Perth Street, Ngaio, Wellington</span>
              </li>
            </ul>
    </div>
  </div>
</div>
<div class="footer-container margin-top-100">
  <footer class="container">
    <div class="footer-header margin-30 padding-30">
      <h5 class="font-golden font-size-15 font-weight-700 letter-spacing">SALIN ROSNA</h5>
    </div>
    <div class="footer-social-container">
      <ul class="footer-social margin-30">
        <li (click)="socialurl('in')" class="link border font-size-15">
          <a class="font-golden" href="#aboutme">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
        <li (click)="socialurl('gmail')" class="link border font-size-15">
          <a class="font-golden" href="#experience">
            <i class="fa fa-inbox"></i>
          </a>
        </li>
        <li (click)="socialurl('gh')" class="link border font-size-15">
          <a class="font-golden" href="#experience">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li (click)="socialurl('fb')" class="link border font-size-15">
          <a class="font-golden" href="#home" href="#home">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="font-golden font-size-10 footer-header">
      <p>Powered By : Angular 4</p>
      <p>Design and developed by Salin Rosna</p>
    </div>
  </footer>
</div>